<div class="container mt-5">
    <div class="card">
    <div class="row">

<h1> View Employee Details</h1>

    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <br>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <br>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    <br>
      <div>
        <label> <b> Date of Birth: </b></label>  {{ employee.dob}} 
    </div>
    <br>
    <div>
        <label> <b> Joining Date </b></label> {{ employee.joining_date }} 
    </div>
    <br>
    <div>
        <label> <b> Project </b></label> {{ employee.project }} 
    </div>
    <br>
    <div>
        <label> <b> Business Unit </b></label> {{ employee.business_unit }} 
    </div>
    <br>
    <div>
        <label> <b> Designation </b></label>  {{ employee.designation }} 
    </div>

</div>
</div>
</div>