
<mat-card>
    <h1 class="text-center ">Employee Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrappper">
            <div class="container">
                <div class="container text-center">
<h1 class="mt20"> {{employee.firstName}} {{employee.lastName}}</h1>

</div>
                
<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table text-center">
            <tr>
                <td>Email Id:</td>
                <td>{{employee.emailId}}</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td> {{ employee.dob}} </td>
            </tr>
            <tr>
                <td>Joining Date</td>
                <td>{{ employee.joining_date }} </td>
            </tr>
            <tr>
                <td>Project </td>
                <td>{{ employee.project }} </td>
            </tr>
            <tr>
                <td>Business Unit </td>
                <td>{{ employee.business_unit }}  </td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{ employee.designation }} </td>
            </tr>
            <tr>
                <td>Salary </td>
                <td>{{ employee.salary }} </td>
            </tr>
        </table>
    </div>
</div>
            </div>
        </div>
    
    </mat-card-content>
</mat-card>